# API Configuration
# The full URL of the API service
# For production: https://ps-api.daveywalbeck.com
# For development: http://localhost:8000
VITE_API_URL=http://api.dw.com:8000

# Social Media URLs
# Your GitHub profile URL
VITE_GITHUB_URL=https://github.com/yourusername/

# Your LinkedIn profile URL
VITE_LINKEDIN_URL=https://www.linkedin.com/in/yourprofile/

# Email address used in link
VITE_CONTACT_EMAIL=example@mail.com

# Name of the resume file
VITE_FILES_RESUME=./resume_file.docx